
@font-face{
    font-family: Connection;
    src: url('/assets/font/Connection.ttf')
}

// Variables
$panel-bg: #086788;
$button-bg: #FFF1D0;
$button-shadow: #F0C808;
$checkbox-checked: rgb(62, 240, 8);
$button-selected : #06AED5;
$button-active: rgb(43, 13, 107);
$button-active-shadow: #22223B;
$shadow-color: rgb(68, 68, 68);
$font-color: black;
$btn-color: #042f3d;

html{
    width: 100vw;
    font-family: Connection;
    color: $font-color;
    height: 100vh;
    overflow: hidden;
}

* {
  box-sizing: border-box;
}

#game{
    width: 66vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 36vw;
}

p{
    font-size: 30px;
    margin-left: 10px;
}

.pannel{
    background-color: $panel-bg;
    width: 34vw;
    padding: 50px;
    position: absolute;
    top: 0px;
    height: 100vh;
    transition-timing-function: cubic-bezier(1.000, -0.100, 0.025, 0.995);
    transition-property: all;
    transition-duration: 0.6s;
    z-index: 0;

    .menu{
        z-index: 999;
        background-color: $panel-bg;
        box-shadow: 10px 0px 10px 5px $shadow-color;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;

        a{
            color: aqua;
        }
    }
}

.pannel-1{
    left: 0px;

    &.hiding{
        left: - 100%;
    }
}

.pannel-2, .pannel-3{
    left: 33vw;
    

    &.hiding{
        left: 0vw;
        z-index: -1;
    }
}

h2{
    font-size: 50px;
    width: 100%;
    text-align: center;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
}

#side-draw{
    width: 50vw;
    height: 100vh;
    position: absolute;
    background-color: white;
    top: 0px;
    right: 0px;

}

ul.btn-list{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-inline-start: 0px;

    &>li{
        list-style-type: none;
        padding: 10px;
        display: flex;
        flex-direction: column;

        button, label{

            &.selected {
                background: $button-selected;
            }


            input[type=checkbox]{
                display: none;
            }

            input + span{
                text-align: center;
                width: auto;
                display: block;
            }

            :checked + span{
                background: $checkbox-checked;
            }

            cursor: pointer;
            color: $btn-color;
            background: $button-bg;
            box-shadow: 6px 6px 0 $shadow-color;
            transform: skewX(-15deg);
            transition: 1s;
            font-size: 55px;
            font-family: Connection;
            outline: none;
            border: none;

            i{
                font-size: 30px;
                padding-left: 20px;
                color: $button-bg;
                transition: 1s;
            }

            &:hover{
                transition: 0.5s;
                box-shadow: 10px 10px 0 $button-shadow;

                i{
                    color: $btn-color;
                    transition: 0.5s;
                    animation: color_anim 1s infinite;
                }

            }

            &:active{
                transition: 0.2s;
                background: $button-active;
                box-shadow: 4px 4px 0 $button-active-shadow;
            }
        }
    }
}

.cta {
    span{
        display: flex;
    }

    display: flex;
    justify-content: center;
    flex-flow: row;
    padding: 5px;
    text-decoration: none;
    font-size: 55px;
    color: white;
    background: $button-bg;
    transition: 1s;
    box-shadow: 6px 6px 0 $shadow-color;
    transform: skewX(-15deg);

    &:focus{
        outline: none;
    }

    ul{
        padding-inline-start: 0px;
        margin: 0px;
        display: flex;
        width: 50px;
        transition: 0.5s;

        li{
            list-style-type: none;

            &.ar-three{
                transition: 0.4s;
                transform: translateX(-200%);
            }

            &.ar-two{
                transition: 0.5s;
                transform: translateX(-100%);
            }
        }

    }

    &:hover{
        transition: 0.5s;
        box-shadow: 10px 10px 0 $button-shadow;

        ul {
            transition: 0.5s;
            margin-right: 45px;
        }

        ul li{
            &.ar-three{
                transform: translateX(0%);
                animation: color_anim 1s infinite 0.2s;
            }

            &.ar-two{
                transform: translateX(0%);
                animation: color_anim 1s infinite 0.4s;
            }

            &.ar-one{
                transform: translateX(0%);
                animation: color_anim 1s infinite 0.6s;
            }
        }
    }

}

@keyframes color_anim {
    0% {
        color: $btn-color;
    }
    50% {
        color: $button-shadow;
    }
    100% {
        color: $btn-color;
    }
}